language: clojure
lein: lein
script: lein all do clean, test
branches:
  only:
    - 3.x
    # 'master' is the new apache 5 client, and not passing yet
    # - master
jdk:
  - openjdk7
  - oraclejdk7
  - oraclejdk8
